<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Les 20 premiers Pokémon</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1 class="text-center">Les 20 premiers Pokémon</h1>
    <div class="row">
        <% pokemons.forEach(function (pokemon) { %>
            <div class="col-sm-5 col-md-4 col-lg-3 mb-4">
                <div class="card p-2">
                    <div class="card">
                        <img class="card-img-top" src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= pokemon.name %></h5>
                    </div>
                    <div>
                        <p class="card-text">Type : <%= pokemon.types[0].type.name %></p>
                        <p class="card-text">Poids : <%= pokemon.weight %> kg</p>
                        <p class="card-text">Défense spéciale : <%= pokemon.stats[4].base_stat %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
